.main {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-section {
  text-align: center;
  margin-bottom: 30px;
}

.headingc {
  color: black;
  font-size: 2rem;
}

.parac {
  color: black;
  font-size: 1rem;
}

/*.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}*/
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.card {
  
  background: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card p{
    color: black;
}

