.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 20px;
  font-family: sans-serif;
}

.top-contact {
  text-align: right;
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #ccc;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #ffcc00;
}

.footer-section p,
.footer-section li {
  font-size: 0.95rem;
  margin-bottom: 8px;
  list-style: none;
  color: #ddd;
}

.footer-section ul {
  padding: 0;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.insta-grid img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
  /* transition: transform 0.3s ease; */
}



.footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 0.85rem;
  color: #ebe7e7;
}
.footer-bottom p {
  color: #ccc;
  text-align: center;
}