.navbar {
    display: flex;
    background-color: black;
    color: whitesmoke;
    height: 40px;
    align-items: center;
    gap: 100px;
    justify-content: space-around;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    display: flex;
    gap: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.icons{
    display: flex;
    gap: 8px;
}
.navbar li {
    cursor: pointer;
}


